// ================== BASICS ==================
$generalFontFamily: $roboto;
$generalBackgroundColor: #333;

// ================== FONT FAMILY ==================
$roboto: "Roboto", sans-serif;

// ================== COLORS ==================
$transparent: transparent;
$white: #fff;
$gray: #e0e0e0;
$gray-100: #f6f9fc;
$gray-200: #f4f6f7;
$gray-300: #505050;
$gray-400: #525252;
$gray-500: #424a52;
$gray-600: #333;
$gray-700: #222;
$gray-800: #1c2334;
$cian: #00c996;
$dark-cian: #00b587;
$blue: #006ec7;
$dark-blue: #034c83;
$green: #8fd400;
$dark-green: #8bcc06;
$orange: #ff9640;
$success: #52c02b;
$danger: #e16070;

// ================== MEDIA QUERIES ==================
$breakpoints: (
  md: 768px,
  lg: 1024px,
  xl: 1440px,
  xl2: 1920px,
);

// ================== Z-INDEX ==================
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;

// ================== DISPLAYS ==================
$displays: (
  hidden: none,
  block: block,
  inline-block: inline-block,
  inline: inline,
  flex: flex,
  grid: grid,
);
