// ==========================
// FONT FAMILY
// ==========================
$font-primary: "Lato", sans-serif;
$font-secondary: "Roboto", sans-serif;

// ==========================
// COLORS
// ==========================
$color-transparent: transparent;
$color-light: #fff;
$color-gray: #e0e0e0;
$color-gray-1: #494f66;
$color-gray-2: #676f8f;
$color-gray-3: #a3abcc;
$color-gray-4: #c5cbe0;
$color-gray-5: #e4e8f7;
$color-gray-6: #f0f2fa;
$color-red: #ef3340;
$color-light-red: #fc4e55;
$color-green: #43b748;
$color-error: #b22630;

// ==========================
// BRAKPOINTS
// ==========================
$breakpoints: (
  md: 768px,
  lg: 1024px,
  xl: 1366px,
  xl2: 1440px,
);

// ==========================
// Z-INDEX
// ==========================
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;

// ==========================
// DISPLAYS
// ==========================
$displays: (
  hidden: none,
  block: block,
  inline-block: inline-block,
  inline: inline,
  flex: flex,
  grid: grid,
);

// ==========================
// GRID SYSTEM
// ==========================
$grid-cols: 12;
$grid-gap: 32px;

// ==========================
// FONT SIZES
// ==========================
$m-font-title: 32px;
$d-font-title: 32px;

// ==========================
// GENERAL CONFIGURATIONS
// ==========================
$generalBackgroundColor: $color-gray-1;
