@import "../../../styles/config/variables";
@import "../../../styles/themes/typography";

.input {
  margin-bottom: 1rem;
  display: inline-block;
  flex: 1;
  width: 100%;

  &__box {
    position: relative;
    width: 100%;
    flex: 1;
  }

  &__element {
    width: 100%;
    height: 56px;
    border: 1px solid $color-gray-4;
    color: $color-gray-1;
    border-radius: 4px;
    padding: 20px 16px 6px;
    box-shadow: none;
    outline: none;
    @include font-primary-regular-16;

    &:focus {
      & + .input__placeholder {
        transform: scale(0.8) translateY(-34px);
        color: #a9b1d1;
      }
    }

    &:valid + .input__placeholder {
      transform: scale(0.8) translateY(-34px);
    }

    &--error {
      border: 1px solid $color-error;
    }
  }

  &__placeholder {
    position: absolute;
    color: $color-gray-3;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: bottom left;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    pointer-events: none;

    @include font-primary-regular-16;
  }

  &__error {
    color: $color-error;
    @include font-secondary-regular-12;
  }
}
