@import "../../../styles/config/functions";
@import "../../../styles/config/variables";
@import "../../../styles/themes/typography";

.home {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__left {
    min-height: 366px;
    padding: 50px 0;
  }

  &__right {
    margin-top: 3rem;
    margin-bottom: pxToRem(50px);
  }
}

.benefits {
  color: $color-light;

  &__title {
    & h1 {
      @extend %font-primary-light-36;
    }

    & b {
      display: block;
    }
  }
}
