@import "../../../styles/config/variables";
@import "../../../styles/themes/typography";

.select {
  width: 96px;

  select {
    width: 100%;
    height: 56px;
    background: $color-transparent;
    border: 1px solid $color-gray-4;
    color: $color-gray-1;
    border-radius: 4px;
    padding: 0.7rem 1rem;
    box-shadow: none;
    outline: none;
  }
}
