// ==================================================
// FONT IMPORTS
// ==================================================
@font-face {
  font-family: "sm-light";
  src: url("./fonts/sm-light.eot");
  src: url("./fonts/sm-light.eot?#iefix") format("embedded-opentype"),
    url("./fonts/sm-light.woff") format("woff"),
    url("./fonts/sm-light.ttf") format("truetype"),
    url("./fonts/sm-light.svg#sm-light") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "sm-light" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "sm-light" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
