@import "../../../styles/config/functions";
@import "../../../styles/config/variables";
@import "../../../styles/config/mixins";

.bg-left {
  background: $color-red;
  display: block;
  height: 396px;
  min-height: 416px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: -15px;
  left: 0;
  border-bottom-right-radius: 50px;
  transform: skew(0, 5deg);
  z-index: -1;

  @include responsive(xl) {
    width: 55%;
    height: 80vh;
    top: 0;
    left: -3%;
    border-bottom-right-radius: 100px;
    transform: skew(-5deg, 0);
  }

  &__img {
    height: 344px;
    position: absolute;
    top: 95px;
    right: -48px;
  }
}
