@import "../../../../styles/config/functions";
@import "../../../../styles/config/variables";
@import "../../../../styles/config/mixins";
@import "../../../../styles/themes/typography";

.form {
  @include responsive(xl) {
    width: 320px;
    position: relative;
  }

  &__title {
    margin-bottom: 1.5rem;

    h2 {
      @include font-primary-regular-24;

      @include responsive(xl) {
        @include font-primary-light-28;
      }
    }

    b {
      color: $color-red;
    }

    p {
      margin-top: 0.3rem;
      @include font-secondary-light-16;
    }
  }

  &__input-select {
    display: flex;
  }

  &__input {
    @include responsive(xl) {
      width: 288px;
    }
  }

  &__verify {
    margin-bottom: pxToRem(40px);
    span {
      text-decoration: underline;
    }
  }

  &__button {
    @include responsive(xl) {
      width: 176px;
    }
    // display: flex;
  }
}
